body {
	box-sizing: border-box;
	margin-right: 5px;
	margin-left: 5px;
}
.title {
	display: block;
	height: 200px;
	width: 300px;
	padding: 5px 15px 15px 10px;
	margin: 10px 15px;
	border: 5px green;
	border-top-style: solid;
	border-right-style: dashed;
	border-left-style: dashed;
}
.text h3 {
	margin-top: 0;
	margin-bottom: 0;
}
.text p {
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 1em;
	text-align: justify;
}
.left {
	float: left;
	margin: 0 20px 5px 0;
}
.right {
	float: right;
	margin: 0 0 5px 20px;
}